<!DOCTYPE html>
<html>
<head>
    <title>Edit Entry</title>
</head>
<body>
    <div style="max-width: 600px; margin: 0 auto; text-align: center;">
        <h2>Edit Book & Author</h2>
        <form method="POST">
            <input type="hidden" name="index" value="{{ index }}">
            
            <label for="book">Book Title:</label><br>
            <input type="text" id="book" name="book" value="{{ book }}" required><br><br>

            <label for="author">Author:</label><br>
            <input type="text" id="author" name="author" value="{{ author }}" required><br><br>

            <input type="submit" value="Update">
        </form>
    </div>
</body>
</html>